html * {
    font-family: 'Roboto', sans-serif;
}

a, a:hover {
    color: rgba(66, 139, 202, 1);
}

code {
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(127, 140, 141, 0.1);
    color: inherit;
    white-space: nowrap;
}

.form-group {
    width: 100%;
}

#username, #repository, #get-stats-button {
    margin-top: 10px;
    width: 100%;
}

#stats-result {
    margin-bottom: 40px;
}

.error {
    background-color: rgba(231, 76, 60, 0.2);
    border: solid 1px rgba(231, 76, 60, 0.4);
    padding: 20px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
}

.total-downloads {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 0px;
}

.pagination-div {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
}

.total-downloads h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    /*display: inline;*/
    font-size: 18px;
}

.release {
    background-color: rgba(127, 140, 141, 0.2);
    border: solid 1px rgba(127, 140, 141, 0.4);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.release h3 .glyphicon {
    cursor: default;
    color: rgba(66, 139, 202, 1);
}

.release h3 .badge {
    cursor: default;
    background-color: rgba(66, 139, 202, 1);
    color: #fff;
}

.release-hr {
    border-top-color: rgba(127, 140, 141, 0.4);
}

.latest-release {
    background-color: rgba(92, 184, 92, 0.2);
    border-color: rgba(92, 184, 92, 0.4);
}

.latest-release-hr {
    border-top-color: rgba(52, 152, 219, 0.4);
}

.latest-release h3, .latest-release h3 .glyphicon, .latest-release h3 a {
    color: rgba(92, 184, 92, 1);
}

.latest-release h3 .badge {
    background-color: rgba(92, 184, 92, 1);
}

.pre-release {
    background-color: rgba(240, 173, 78, 0.05);
    border-color: rgba(240, 173, 78, 0.4);
}

.pre-release h3, .pre-release h3 .glyphicon, .pre-release h3 a {
    color: rgba(240, 173, 78, 1);
}

.pre-release h3 .badge {
    background-color: rgba(240, 173, 78, 1);
}

.pre-release .release-hr {
    border-color: rgba(240, 173, 78, 0.4);
}

#toppager-div {
    margin-top: 0px;
    padding-bottom: 0px;
    padding-top: 5px;
}

#bottompager-div {
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#loader-gif {
    position: absolute;
    bottom: 110px;
    left: -33px;
}

#progress-div {
    position: absolute;
    bottom: 60px;
    left: -16px;
    white-space: nowrap;
    margin-bottom: 20px;
    font-size: 1.3em;
    color: lightgrey;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
}

#description {
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(210, 210, 210, 0.2);
    padding: 10px;
    text-align: center;
    border-top: 1px solid rgba(210, 210, 210, 0.4);
}

